* {
  margin: 0;
}

.logotipo-Adega {
  margin-top: -40px;
  width: 20%;
}

.img-ValorCard {
  display: flex;
  justify-content: center;
}

.titulo-Principal {
  color: #941b50;
  font-size: 50px;
  text-align: center;
  margin: -110px 0px 50px 0px;
}

.escolha-Vinhos {
  width: 100%;
  text-align: center;
  padding: 5px 0px 5px 0px;
  background-color: #a46b84;
  border-radius: 8px;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
}

label,
span {
  font-size: 20px;
  font-weight: bold;
  display: block;
  margin-top: 7px;
}

select {
  margin-left: 10px;
  width: 20%;
  padding: 10px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 4px;
}
select:hover {
  cursor: pointer;
}

.finalizar-btn {
  padding: 10px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 4px;
  margin-left: 20px;
}
.finalizar-btn:hover {
  border: 1px solid black;
  cursor: pointer;
}

.escolha-Vinhos,
.resposta {
  display: flex;
  justify-content: center;
}

.escolha-Vinhos {
  margin-top: 20px;
}

.resposta {
  margin-top: 30px;
}
